<!DOCTYPE html>
<html>
 <body>
   <form method="post" action="/convert">
     <label for= "temperature">Degrees Farenheit:</label>
     <input type="text" name="temperature">
     <input type="submit">
   </form>
 </body>
</html>

